<!DOCTYPE html>
<html lang="en">
{% extends 'portfolio/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>

<body>
    {% block content %}
    <div class="row justify-content-center my-3">
        <div class="col-5">
            <img src="{% static 'portfolio/MSS.jpg' %}" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">
            <h1 id="hometext" class="font-weight-bold">Mohammed Sabah is Python Developer and lives in Baghdad, Iraq 😊
            </h1>
        </div>
    </div>
    <h2 class="mt-5">Portfolio</h2>
    <hr>
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-4 col-md-6">

            {% if project.url %}
            <a href="{{ project.url }}">
                <img src="{{ project.image.url }}" class="img-fluid mb-2">
            </a>
            {% else %}

            <img src="{{ project.image.url }}" class="img-fluid mb-2">
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>

        </div>
        {% endfor %}
    </div>

    {% endblock content %}
</body>

</html>